.login-container {
  height: 100vh;
  background-color: #f8f9fa;
}

.login-card {
  width: 100%;
  max-width: 380px;
}

.btn-success {
  background-color: #0e7667 !important;
  border: none;
}

.btn-success:hover {
  background-color: #07574e !important;
}
